.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.optionsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.explanation {
  color: #778191;
  text-align: center;
  font-size: 10px;
  line-height: 16px;
}

.link {
  color: #222B38;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
}
