.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.optionsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  background-color: #0062F5;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.explanation {
  color: #778191;
  text-align: center;
  font-size: 10px;
  line-height: 16px;
}

.link {
  color: #222B38;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
}
